#red {
    background-color: red;
    min-height: 50px;
}
#blue {
    background-color: blue;
    min-height: 50px;
}
#yellow {
    background-color: yellow;
    min-height: 50px;
}
#green {
    background-color: green;
    min-height: 50px;
}
#orange {
    background-color: orange;
    min-height: 50px;
}
#purple {
    background-color: blueviolet;
    min-height: 50px;
}
    
